<% @event.each do |e| %>
<div class="row">
	<div class="col-md-3 col-md-offset-2">
		<%= e.avatar_file_name %>
	</div>
	<div class="col-md-5">
		<h1><%= e.event_name %></h1>
		<h2><%= e.description %></h2>
		<hr>
	</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-4 col-md-offset-2">
			<% t = Chronic.parse(e.start) %>
			<h2><%= e.ticket_price %> | <%= t.strftime("%H:%M:%S")%> </h2>
		</div>
		<div class="col-md-4 col-md-offset-2">
			<h2>More Details</h2>
		</div>
	</div>

	</div>
	<% end %>

