
<%= form_for @event do |f| %>
<p><%= f.text_field :event_name, placeholder:"Enter Event Name" %></p>
<p><%= f.text_field :location, :input_html =>{:id => 'gmaps-input-address'}, :placeholder => 'Start typing a place...' %></p>
<p><%= f.text_area :description, placeholder:"Enter Description" %></p>
<p><%= f.select :borough, placeholder:"borough" %></p>
<p><%= f.text_field :ticket_price, placeholder:"Ticket Price" %></p>
<p><%= f.hidden_field :featured, value:'false' %></p>
<p><%= f.hidden_field :approved, value:'pending' %></p>
<p><%= f.hidden_field :user_id, value: current_user.id %></p>
<p><%= f.file_field :avatar_file_name %></p>
<p><%= f.file_field :flyer_file_name %></p>
<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field :start, class:"form-control", placeholder:'Start Time/Date' %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class='col-sm-6'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
                <%= f.text_field :end, class:"form-control", placeholder:'End Time/Date' %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
</div>
</div>
<p><%= f.submit class:"btn" %></p>
<% end %>

<script type="text/javascript">
$(function () {
    $('#datetimepicker1').datetimepicker();
});
$(function () {
    $('#datetimepicker2').datetimepicker();
});
</script>