<%= form_for @event do |f| %>
<p><%= f.text_field :event_name, placeholder:"Enter Event Name" %></p>
<p><%= f.text_field :location, placeholder:"Enter Location Name" %></p>
<p><%= f.text_area :description, placeholder:"Enter Description" %></p>
<p><%= f.select :borough, placeholder:"borough" %></p>
<p><%= f.datetime_field :start_time, placeholder:"Start Time" %></p>
<p><%= f.datetime_field :end_time, placeholder:"End Time" %></p>
<p><%= f.text_field :ticket_price, placeholder:"Ticket Price" %></p>
<p><%= f.hidden_field :featured, value:'false' %></p>
<p><%= f.hidden_field :approved, value:'pending' %></p>
<p><%= f.file_field :flyer %></p>
<p><%= f.submit class:"btn" %></p>
<% end %>