<!DOCTYPE html>
<html>
<head>
  <title>Nyhh</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
<nav class="navbar navigation_bar" role="navigation">
  <div class="container-fluid">
    <div class="row">  
      <div class="col-md-3 col-md-offset-4">  
        <%= image_tag "nyhh.png" %>
      </div>
      <div class="col-md-3">
        <% if user_signed_in? %>
        <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
        <% else %>
        <%= link_to('Sign In', new_user_session_path) %>
        <%= link_to('Sign Up', new_user_registration_path) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 nav_title">
        <ul class="nav_title">
            <li>
            <%= link_to('TODAY / ', destroy_user_session_path, :method => :delete, class:"nav_title ul li") %>        
            </li>
            <li>
              <%= link_to('TOMORROW / ', destroy_user_session_path, :method => :delete) %>
            </li>
            <li>
              <%= link_to('UPCOMING', destroy_user_session_path, :method => :delete) %>
            </li>
          </ul>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

</body>
</html>
