<!DOCTYPE html>
<html>
<head>
  <title>New York Hip Hop Events, Parties, Clubs and Concerts - NewYorkHipHop.com</title>
  <meta name="description" content="New York Hip Hop Keeps You Connected To Hip Hop Culture In NYC">
  <meta name="keywords" content="New York Hip Hop, New York, NY, Hiphop, Hip Hop, Rap, Music, Festival, Nightlife, Night Life, Venues, Shows, Party, Parties, New York Parties, DJ, DeeJay, DJay, Disc Jockey, Events, New York Events, Clubs">

  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
<nav class="navbar navigation_bar" role="navigation">
  <div class="container-fluid">
    <div class="row logo">
        <%= link_to (image_tag "nyhh.png"), root_path %>
    </div>
    <div class="row">
      <div class="col-md-12 nav_title">
        <%= link_to('TODAY', events_path('1')) %> / 
        <%= link_to('TOMORROW', events_path('2')) %> / 
        <%= link_to('UPCOMING', events_path) %>
<!--         <ul class="nav_title">
            <li>
            <%= link_to('TODAY / ', events_path('1')) %>        
            </li>
            <li>
              <%= link_to('TOMORROW / ', events_path('2')) %>
            </li>
            <li>
              <%= link_to('UPCOMING', events_path) %>
            </li>
          </ul> -->
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

<div class="row">  
  <div class="col-xs-12 text-center" style="margin:50px auto; border-top: 1px solid #efefef; padding-top:20px;">
    <% if user_signed_in? %>
    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %> &nbsp;&nbsp;|&nbsp;&nbsp; 
    <% else %>
    <%= link_to('Sign In', new_user_session_path) %> &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to('Sign Up', new_user_registration_path) %> &nbsp;&nbsp;|&nbsp;&nbsp;
    <% end %>
    <a href="mailto:info@newyorkhiphop.com">Contact Us</a>
    <div class="row">
      <p class="text-center">&nbsp;</p>
      <button><%= link_to 'Add Event', new_event_path, class:"redirect_to_new",'data-no-turbolink' => true %></button>
    </div>
  </div>
</div>

</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18685981-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
