<!DOCTYPE html>
<html>
<head>
  <title>Nyhh</title>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body">
<nav class="navbar navigation_bar" role="navigation">
  <div class="container-fluid">
    <div class="row">
        <%= link_to (image_tag "nyhh.png"), root_path %>
    </div>
    <div class="row">
      <div class="col-md-12 nav_title">
        <%= link_to('TODAY', events_path('1')) %> / 
        <%= link_to('TOMORROW', events_path('2')) %> / 
        <%= link_to('UPCOMING', events_path) %>
<!--         <ul class="nav_title">
            <li>
            <%= link_to('TODAY / ', events_path('1')) %>        
            </li>
            <li>
              <%= link_to('TOMORROW / ', events_path('2')) %>
            </li>
            <li>
              <%= link_to('UPCOMING', events_path) %>
            </li>
          </ul> -->
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    
  </div><!-- /.container-fluid -->
</nav>
<%= yield %>

<div class="row">  
  <div class="col-xs-12 text-center" style="margin:50px auto; border-top: 1px solid #efefef; padding-top:20px;">
    <% if user_signed_in? %>
    <%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %>
    <% else %>
    <%= link_to('Sign In', new_user_session_path) %>
    <%= link_to('Sign Up', new_user_registration_path) %>
    <% end %>
    <%= link_to('New Event', new_event_path) %>
  </div>
</div>

</body>
</html>
